body {
    font-family: sans-serif;
    font-size: 100%;
    font-display: auto;
    display: block;
    margin: 8px;
    padding: 10%;
    text-align: center;
    background-color: rgb(190, 232, 238)
}
h1 {
  font-weight: bold;
}
p {
  font-size: 25px;
}
  .timer {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 20px;
  }

  .logscores {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 20px;
  }

  a {
    color: black;
    text-decoration: none;
    transition: color 0.1s;
  }
  
  a:hover {
    color: blue
  }
  
  button {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    font-size: 150%;
    background-color: black;
    border-radius: 15px;
    padding: 2px 10px;
    color: white;
    border: 25px;
    border: cornflowerblue;
    transition: background-color 0.1s;
  }
  
  button:hover {
    background-color: blue;
  }
  .choices button {
    display: block;
    
  }
  
  input[type="text"] {
    font-size: 100%;
  }
  
  ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
  }
  
  li {
    padding: 5px;
    list-style: decimal inside none;
  }
  
  li:nth-child(odd) {
    background-color: #f3edfc;
  }
  
  .hide {
    display: none;
  }
  
  .start {
    text-align: center;
  }
  
  .results {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .feedback {
    font-style: italic;
    font-size: 120%;
    margin-top: 20px;
    padding-top: 10px;
    color: gray;
    border-top: 2px solid #ccc;
  }
 
  